// Here you can add other styles
body {
  font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
  font-size: 14px;
}

.bold-orange {
  font-weight: 700;
  color: map-get($theme-colors, "primary");
}

.heading {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.sub-heading {
  font-weight: 700;
  font-size: 14px;
}

.card-selected,
.card-hover:hover {
  border: 1px solid #fa541c !important;
  transition: 300ms;
  color: map-get($theme-colors, "primary");
}

.modal-overflow {
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
}

.modal-selected {
  border: 2px solid #fa541c;
  border-radius: 8px;
  // background: map-get($theme-colors, "primary");
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .btn-dropdown {
    width: 320px; /* Lebar 100% untuk layar kecil */
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .btn-dropdown {
    width: 420px; /* Lebar 240px pada layar sm */
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn-dropdown {
    width: 400px; /* Lebar 320px pada layar md */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn-dropdown {
    width: 560px; /* Lebar 400px pada layar lg */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn-dropdown {
    width: 560px; /* Lebar 480px pada layar xl */
  }
}

@media print {
  html,
  body {
    height: 100%; /* Use 100% here to support printing more than a single page*/
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}
