// Here you can add other styles

* {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
  font-size: 14px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px #fa541c;
  outline: 0 none;
}

$modal-sm: 375px;

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 20px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 15px 0;
  padding-left: 10px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fa541c;
  left: 15px;
  width: 12px;
  height: 12px;
  z-index: 400;
}

button.react-datepicker__close-icon::after {
  background-color: #fa541c;
}
div.react-horizontal-scrolling-menu--scroll-container {
  overflow-x: visible;
}
/* width */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  height: 5px;
}

/* Track */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div.dropdown-menu.show {
  overflow-x: visible;
}
/* width */
div.dropdown-menu.show::-webkit-scrollbar {
  width: 5px;
}

/* Track */
div.dropdown-menu.show::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.dropdown-menu.show::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.dropdown-menu.show::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body::-webkit-scrollbar {
  width: 8px;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
}
/* Track */
body::-webkit-scrollbar-track {
  width: 8px;
  background: #f1f1f1;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #aaa;
  width: 5px;
  border-radius: 5px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #888;
  width: 8px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
}

#dropdown-autoclose-outside-menu-courier.dropdown-toggle::after {
  display: inline-block;
  content: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

div.vertical-scrolling-menu {
  overflow-y: scroll;
  overflow-x: hidden;
}
/* width */
div.vertical-scrolling-menu::-webkit-scrollbar {
  width: 5px;
}
/* Track */
div.vertical-scrolling-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.vertical-scrolling-menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.vertical-scrolling-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div.horizontal-scrolling-menu::-webkit-scrollbar {
  height: 5px;
}
/* Track */
div.horizontal-scrolling-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.horizontal-scrolling-menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.horizontal-scrolling-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

li.page-item.active .page-link {
  z-index: 0;
}

ul.nav.nav-tabs {
  border-bottom: 1px solid;
  border-color: #c4c9d0;
}

ul.nav.nav-tabs .nav-item .nav-link {
  padding-left: 20px;
  padding-right: 20px;
  color: #768192;
  text-decoration: none;
  background-color: transparent;
}

ul.nav.nav-tabs .nav-item .active.nav-link {
  color: #fa541c;
  text-decoration: none;
  background-color: transparent;
}
ul.nav.nav-tabs .active.nav-link {
  border-color: #fff;
  border-bottom-width: 2px;
  border-bottom-color: #fa541c;
}

.text-editor {
  margin: 0px 0px;
}

.text-editor .ql-container {
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  background: #fefcfc;
}

/* Snow Theme */
.text-editor .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

/* Bubble Theme */
.text-editor .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.3em;
}

.text-editor .ql-editor {
  min-height: 15em;
}

.bold-orange {
  font-weight: 700;
  color: map-get($theme-colors, "primary");
}

.heading {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.sub-heading {
  font-weight: 700;
  font-size: 14px;
}

.card-selected,
.card-hover:hover {
  border: 1px solid #fa541c !important;
  transition: 300ms;
  color: map-get($theme-colors, "primary");
}

.chat-hover:hover {
  background-color: rgba(225, 229, 236, 0.5);
}

.modal-overflow {
  max-height: 400px;
  width: 100%;
  overflow-y: auto;
}

.modal-selected {
  border: 2px solid #fa541c;
  border-radius: 4px;
  // background: map-get($theme-colors, "primary");
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .btn-dropdown {
    width: 320px; /* Lebar 100% untuk layar kecil */
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .btn-dropdown {
    width: 420px; /* Lebar 240px pada layar sm */
  }

  // .col-md-6,
  // .col-xs-6,
  // .col-lg-6 {
  //   grid-column: span 6;
  // }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn-dropdown {
    width: 400px; /* Lebar 320px pada layar md */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn-dropdown {
    width: 560px; /* Lebar 400px pada layar lg */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn-dropdown {
    width: 560px; /* Lebar 480px pada layar xl */
  }
}

@media print {
  html,
  body {
    height: 100vh; /* Use 100% here to support printing more than a single page*/
    margin: 0px !important;
    padding: 5px !important;
    overflow: hidden;
  }

  .page-break {
    display: block;
    page-break-before: always;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.react-horizontal-scrolling-menu--scroll-container {
  overflow-x: visible;
}

/* width */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  height: 5px;
}

/* Track */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div.vertical-scrolling-menu {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* width */
div.vertical-scrolling-menu::-webkit-scrollbar {
  width: 5px;
}

/* Track */
div.vertical-scrolling-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.vertical-scrolling-menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.vertical-scrolling-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div.horizontal-scrolling-menu {
  overflow-x: scroll;
  overflow-y: hidden;
}

/* width */
div.horizontal-scrolling-menu::-webkit-scrollbar {
  height: 5px;
}

/* Track */
div.horizontal-scrolling-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.horizontal-scrolling-menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.horizontal-scrolling-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-quill .ql-editor p {
  margin-bottom: 1em; /* Atur jarak bawah antar paragraf hanya untuk instance ini */
}

.iconPicker {
  div {
    box-sizing: border-box;
  }
}

.iconPicker {
  div {
    box-sizing: border-box;
  }

  &__popoverContainer {
    width: 100%;
    height: 100%;
    min-height: 200px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    color: #333;
    font-size: 1rem;
  }

  &__paper {
    margin-top: 10px;
    overflow: visible;
  }

  &__popoverHeader {
    padding-bottom: 10px;
  }

  &__iconsContainer {
    width: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    // padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &__iconWrapper {
    min-width: 1/6 * 100%;
    padding: 0.25rem;
  }

  &__iconItem {
    display: inline-flex;
    width: 100%;
    height: 100%;
    min-height: 30px;
    text-align: center;
    padding: 6px 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.selected {
      color: #fff;
      background-color: #fa541c;
    }
  }
}

.parent-container-video-text-view {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

/* CSS untuk ukuran layar md (768px ke atas) */
@media (min-width: 768px) {
  .parent-container-video-text-view {
    flex-wrap: nowrap;
  }
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ef4444; /* Sesuaikan warna panah dengan background tooltip */
  bottom: -6px; /* Posisi panah di bawah tooltip */
  right: 10px; /* Posisi panah di sisi kanan */
}

.gradient-box {
  cursor: pointer;
}

.gradient-box:hover {
  transform: scale(1.1); /* Membuat elemen membesar saat di-hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Menambah bayangan yang lebih besar saat hover */
}

.SingleDatePickerInput__withBorder {
  border: 0;
  border-radius: 10px;
}

// .DateInput {

// }

.DateInput_input {
  border-radius: 10px !important; /* Border-radius untuk input */
  padding: 10px; /* Padding untuk tampilan yang lebih baik */
  font-size: 14px; /* Ukuran font lebih kecil */
  border: 1px solid #ccc; /* Border standar */
  width: 100%; /* Pastikan input sesuai dengan container */
  font-size: 12;
}

/* Memperkecil ukuran kalender (DayPicker) */
.DayPicker {
  transform: scale(0.7); /* Mengurangi ukuran kalender */
  transform-origin: top left; /* Memastikan skala dimulai dari kiri atas */
}

/* Memastikan tampilan floating dan mengatur z-index */
.SingleDatePicker_picker {
  position: absolute;
  z-index: 999; /* Memastikan tampil di atas elemen lain */
  top: 100%; /* Mengatur posisi di bawah input */
  left: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(
    255,
    255,
    255,
    0.7
  ) !important; /* Warna putih dengan transparansi 70% */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(255, 255, 255, 1) !important; /* Warna penuh saat hover */
}

/* Media query untuk perangkat mobile */
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 24px !important;
  }
}

@media (max-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 20px !important;
  }
}
