// Here you can add other styles

.heading {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.sub-heading {
  font-weight: 700;
  font-size: 14px;
}

.select-modal:hover {
  background: orange;
  transition: 300ms;
}
