// Variable overrides
$body-bg: #fff;
$primary: #fa541c;
$font-family-base: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
$font-size-base: 0.875rem;
$border-radius: 0.5rem;
$border-radius-lg: 0.5rem;
$sidebar-nav-title-padding-y: .5rem !default;
$sidebar-nav-link-padding-y: .5rem !default;
$nav-tabs-link-hover-border-color: 0 0 #c4c9d0 !default;
$line-height-base: 1 !default;
$header-min-height: 3rem;
